
* {
   box-sizing:border-box;
}
container {
	width:100%;
	height: 100%;
}
header {
	padding:.2em;
	color: white;
	background-color: black;
	clear: both;
	text-align: center;
	width:100%;
	min-width:1000px;
	float:center;
}
footer {
	position:absolute;
	bottom:0;
	padding:.2em;
	color: white;
	background-color: black;
	clear: both;
	text-align: center;
	width:100%;
	min-width:1000px;
	float:center;
}
.hide {
	visibility: hidden;
}
.show {
	visibility: visible;
}

.butt, .buttSelected, .buttAttn {
	display:inline-block;
	color:black;
	border:3px solid grey;
	padding:8px;
	width:130px;
	background-color:white;
	visibility:block;
	margin:0;
	margin-top:9px;
	border-top-left-radius:     30px 10px;
	border-top-right-radius:    30px 10px;
}
.butt {
	border-bottom-color:grey;
}
.buttSelected{
	border-bottom-width:4px;
	border-bottom-color:white;
}
.buttAttn {
	border-color: rgb(114,8,8);
	border-color:grey;
	border-bottom-color:grey;
	background: linear-gradient(to bottom, rgb(191,82,82) 0%,rgb(247,187,187) 100%,rgb(249,249,249) 100%);}
.butt:hover, .buttAttn:hover {
	color:white;
	background:grey;
	border-color:grey;
	cursor:pointer;
}

resources {
	display:block;
	float:left;
	width: 20%;
	min-width: 283px;
	margin: 0;
	padding:1em;
	text-align: left;
	height:800px;
	border-right:3px solid black;
	border-left:3px solid black;
}
#fadeEffect{
	position:absolute;
	bottom:-33px;
	border-top:3px solid white;
	width:100%;
	height:30px;
	background:linear-gradient(to bottom, rgba(255,255,255,1),rgba(0,0,0,0));
	float:right;
	
}
#tabsBox {
	position:relative;
	height:50px;
	width:80%;
	min-width:60%;
	margin:0;
	text-align:center;
	padding:0px;
	float:right;
	border-bottom:3px solid grey;
}
#tabs1, #tabs2{
	padding:0 ;
	height:80px;
	border:0px solid white;
	width:49.7%;
	margin:auto;
	display:inline-block;
	vertical-align: top;
}
tabs {
	position:relative;
	border-right:3px solid grey;
	vertical-align:top;
	display:inline-block;
	height:100%;
	min-height:600px;
	width:40%;
	min-width:305px;
	text-align:center;
	float:left;/*this works for some reason - otherwise the tabs are on top of eachother*/
	margin-top:0;
	padding-top:30px;
	z-index:2;
}
.researchButton{
	font-size:1.2em;
	display:inline-block;
	width:160px;
	height:70px;
	margin:10px;
	border:7px ridge grey;
	background: rgba(166, 186, 216, 1);
	padding:0;
	position:relative;
}
.researchButtonSelected{
	font-size:1.2em;
	display:inline-block;
	width:160px;
	height:70px;
	margin:10px;
	border:7px ridge rgb(124, 78, 78);
	background: rgba(166, 186, 216, 1);
	padding:0;
	position:relative;
}
.researchButton:hover {
	color:white;
	background-color:rgba(100, 100, 100, .5);
	cursor:pointer;
}
#exploreButton {
	background-image:linear-gradient(rgba(150,150,150,0.3),rgba(250,250,250,.55)),url(images/mapp.png); 
	background-size:100% 100%;
	border:2px solid black;
	margin:auto;
	margin-top:30px;
	padding:0px;
	text-align:center;
	width:380px;
	height:100px;
	color:black;
	position:relative;
	background-clip:border-box;
	font-weight: bold;
	font-size:1.5em;

}
#exploreButton:hover {
	background-image:linear-gradient(rgba(10,10,10,0.4),rgba(10,10,10,0.4)),url(images/mapp.png);
	color:white;
	cursor:pointer;
}
.resText {
	position:absolute; 
	text-align:center; 
	width:100%; margin:0;
	line-height:30px;
	padding-top:15px;
}
.resBar {
	height:56px;
	background-color:rgba(98, 161, 113, .5);
	width:0%;
}
div.JobBox0 { /*the 0 designation is a work-around for the JS generated html being different from the pre-existing one*/
	width:250px;
	text-align:center;
	margin:3px;
	padding: 0 5px;
	border:3px solid black;    
	margin-top:10px;
	height:100%;
	background-size:cover;
	
}
div.JobBoxTest { /*the 0 designation is a work-around for the JS generated html being different from the pre-existing one*/
	width:250px;
	text-align:center;
	margin:5px;
	padding: 0;
	border:3px solid black;    
	margin-top:10px;
	height:100%;
	background-size:cover;
	
}
div.JobBox { 
	width:250px;
	text-align:center;
	margin:5px;
	padding: 0;
	border:3px solid black;    
	margin-top:10px;
	height:100%;
	background-size:cover;
	display: inline-block;
}
div.userAdd0 { /*not sure why but need to set left and right to 2px for jobElements not created by JS, and to 0 for ones that are */
	width:180px;
	position: relative; 
	left: 2px; 
	display: inline-block;
	padding:3px;
	background:rgba(255, 255, 255, .75);
	border:1px solid black;
	text-align:left;
	
}
div.userAdd { 
	width:180px;
	position: relative; 
	left: 0px; 
	display: inline-block;
	padding:3px;
	background:rgba(255, 255, 255, .75);
	border:1px solid black;
	text-align:left;

}
div.userAdd0:hover{
	cursor:pointer;
	background-color:rgba(100,200,100,0.8);
}
div.userAdd:hover{
	cursor:pointer;
	background-color:rgba(100,200,100,0.8);
}
.imgBox{
	background-size:cover;
	padding-top:30px;
	padding-bottom:5px;
	height:100%;
}
span.workers {
	padding:1px;
	margin:auto;
	width:250px;
	font-size:1.1em;
	margin-bottom:10pt;
	background: rgba(255, 255, 255, .7);
	border:1px solid black;
}
.bkgrn {
	background: rgba(181, 175, 153, 1);
	font-size:1.4em;
	border-bottom:1px solid black;
	margin: 0;
	padding:0;
}
div.userRemove0 {
	width:40px;
	position: relative;
	right: 2px;
	display: inline-block;
	padding:3px;
	background:rgba(255, 255, 255, .75);
	border:1px solid black;
	border-left:none;
	margin:0;
}
div.userRemove {
	width:40px;
	position: relative;
	right: 0px;
	display: inline-block;
	padding:3px;
	background:rgba(255, 255, 255, .75);
	border:1px solid black;
	border-left:none;
	margin:0;
}
div.userRemove0:hover{
	cursor:pointer;
	background-color:rgba(200,100,100,0.8);
}
div.userRemove:hover{
	cursor:pointer;
	background-color:rgba(200,100,100,0.8);
}
.council{
	font-size:1.3em;
	
	text-align:center;
	color:white;
	display:inline-block;
	margin:auto;
	border:3px double black;
	background:linear-gradient(rgba(10,10,10,0.5),rgba(10,10,10,0.5)),url(images/woodback.jpg);
	height:100px;
	width:450px;
	position:relative;
	margin-top:12px;
	padding-top:10px;
}
.council:hover {
	cursor:pointer;
	border-color:grey;
}
.statementOn{
	height:30px;
	transition-timing-function: linear;
	transition:color 2s;
	color:white;
}
.orange{
	height:30px;
	transition-timing-function: linear;
	/*transition:color 1s;*/
	color:orange;
}
.statementOff{
	height:30px;
	transition-timing-function: ease-in;
	transition:color 11s;
	color:black;
}
body{ 
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size:cover;
	user-select: none;
	cursor:default;
	transition:background-image .5s, opacity .5s;
	background-image:linear-gradient(rgba(200,250,250,0.5),rgba(255,200,200,0.5)),  url(images/mountains2.jpg);
	opacity:1;
}
body.alert2{
	transition:background-image .5s, opacity .5s;
	opacity: .1;
	background-image:url(images/blank.jpg);
}
body.normal{ 
	opacity:1;
	transition:background-image .5s, opacity .5s;
	transition-timing-function: ease-out;
	background-image:linear-gradient(rgba(200,250,250,0.5),rgba(255,200,200,0.5)),  url(images/mountains2.jpg);
}
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 40pt;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

}
.alert {
    padding: 200px 70px 500px 70px;
    background-color: black;
    color: white;
    font-size:1.5em;
}
.deadBuilding{
	color:darkred;
	display:inline-block;
	width:200px;
	margin:3px 6px;
	border:3px solid black;
	background:linear-gradient(rgba(115, 126, 142,0.7),rgba(115, 126, 142,0.7)),url(images/woodback.jpg);
	padding:0;
	position:relative;
}
.buildingButton, .buildingOff{
	color:white;
	display:inline-block;
	width:200px;
	margin:3px 6px;
	border:3px solid black;
	background:linear-gradient(rgba(10,10,10,0.2),rgba(10,10,10,0.4)),url(images/woodback.jpg);
	padding:0;
	position:relative;
}
.buildingOff {
	background:linear-gradient(rgba(89, 89, 89,0.7),rgba(89, 89, 89,0.9)),url(images/woodback.jpg);
}
.buildingButton:hover {
	cursor:pointer;
	border-color:grey;
}
.buildBar {
	height:35px;
	background-color:rgba(98, 161, 113, .9);
	width:0%;
}
.councilbuildBar {

	margin-top:-10px;
	height:94px;
	background-color:rgba(98, 161, 113, .9);
	width:0%;
}
#exploreBar{
	height:96px;
	background-color:rgba(98, 161, 113, .9);
	width:0%;
}
.buildText {
	position:absolute; 
	text-align:center; 
	width:100%; margin:0;
	line-height:30px;
	padding:5px;
}
.tooltiptext {
    visibility: hidden;
    border:1px solid black;
    background-color: rgba(0,0,0,.8); 
    color: white;
    text-align: left;
    border-radius: 2px;
    padding: 0 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: -10px;
	white-space: nowrap;
    margin-left: 0;
    opacity: 0;
	font-size:12pt;

}
.userAdd0:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.userAdd:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.buildingButton:hover .tooltiptext, .buildingOff:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.council:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.researchButton:hover .tooltiptext, .researchButtonSelected:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#exploreButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
	right:20px;
	top:105%;
}
.councilMessage{
	font-size:1.2em;
	font-style:italic;
	background-image:url("images/scroll.png");
	width:450px; 
	background-size: 450px 100%;
	padding:25px 80px;
	margin:auto;
	font-family: "Times New Roman", serif;
}
.statementLog{
	position:absolute;
	top:78px;
	right:15px;
	padding:5px;
	background-color:black;
	border:2px solid white;
}
#save, #load, #export, #import, #reset, #tips{
	position:absolute;
	padding:5px;
	background-color:black;
	border:2px solid white;
	width:60px;
	height:32px;
	text-align:center;
}
#save{
	top:10px;
	left:10px;
}
#load{
	top:50px;
	left:10px;
}
#export{
	top:10px;
	left:75px;
}
#import{
	top:50px;
	left:75px;
}
#reset{
	top:90px;
	left:10px;
}
#tips{
	top:90px;
	left:75px;
}
#save:hover, #load:hover, #export:hover, #import:hover, #reset:hover, #tips:hover{
	background-color:gray;
	cursor:pointer;
}
#tipText{
	position:relative;
	bottom:25px;
	left:-7px;
	
	width:350px;
	background-color:black;
	border:2px solid white;
	color:white;
	display:none;
	margin:0;
	text-align:left;
	padding:25px;
	z-index:3;	
}
#tips:hover #tipText{
	display:block;
	cursor:cell;
	
}
.statementLog:hover{
	background-color:lightgray;
	border-color:darkgrey;
	cursor:cell;
}
.logOut{
	visibility: hidden;
    border:2px solid darkgrey;
    background-color: rgba(61,59,42,1); 
    color: white;
    text-align: left;
    border-radius: 2px;
    padding: 20px;
    position: absolute;
    z-index: 3;
    top: -2px;
    right: -2px;
	white-space: nowrap;
    margin-left: 0;
    opacity: 1;
	font-size:12pt;
	/*height:200px;
	width:500px;*/
}
.statementLog:hover .logOut{
	visibility: visible;
}
.none {
	display:none;
}
.col {
	max-width:260px;
	display:inline-block;
	vertical-align:top;
}
#exportWindow, #importWindow{
	z-index: 3;
	position:absolute;
	top:120px;
	left:35%;
	background-color:white;
	color:black;
	text-align: center;
	/*overflow-wrap: break-word;*/
	border:2px solid black;
}
#exportStr, #importStr{
	height:400px;
	width:500px;
	resize: none;
	overflow-y: scroll;
	overflow-x: hidden;
}
.exportWindowOn{
	display:block;
}
.exportWindowOff{
	display:none;
}
#closeExport, #closeImport{
	color:black;
	background-color:white;
	height:100%;
	padding:10px;
	margin:0;
}
#closeExport:hover, #closeImport:hover{
	cursor:pointer;
	background-color:lightgray;
}
.tinyRes{
	position: relative;
	display:inline-block;
	height:40px;
	width:40px;
	border:5px ridge black;
	background-color:rgba(0,0,0,.1);
	margin:5px;
}
.tinyRes:hover{
	background-color:gray;
}
.tinyRes:hover .tooltiptext{
	visibility: visible;
    opacity: 1;
	width:240px;
	left:-100px;
	white-space: pre-line;
	padding:2px;
	 
}
.resourceName{
	text-align:left;
	width:75px;
	display:inline-block;
	height:30px;

}
.resource{
	text-align:right;
	width:40px;
	display:inline-block;

}
.resourceMax{
	text-align: left;
	width:40px;
	display: inline-block;

}
.ratePos, .rateZero, .rateNeg{
	text-align:right;
	width:40px;
	display:inline-block;
}
.ratePos{
	color:green;
}
.rateZero{
	color:black;
}
.rateNeg{
	color:red;
}
#doneResBox{
	border-top:1px solid grey;
	font-size:1.1em;
	display:block;
	margin-top:40px;
	padding-top:10px;
	padding-bottom:20px;
}
#doneRes {
	display:block;
	width:100%;
	height:100%;
	padding:15px;
}
#loadingPopUp{
	position:fixed;
	z-index:3;
	top:200px;
	left:300px;
	display:none;
	font-size:2em;
	color:white;
	background-color:black;
}
.textAlert{
	font-family: sans-serif;
	-webkit-text-stroke: 1.5px rgb(15, 43, 28); color: rgb(213, 41, 216);
	background-color:rgba(255, 225, 76, 0);
	font-weight: bold;
	font-size:1.5em;
	z-index:3;
	position:absolute;
}
.textAlertFade{
	font-family: sans-serif;
	-webkit-text-stroke: 1.5px black; color: rgb(213, 41, 216);
	background-color:rgba(255, 225, 76, 0);
	font-weight: bold;
	font-size:1.5em;
	z-index:3;
	position:absolute;
	opacity: 0;
	transform: translateY(-30px);
	transition: opacity .5s ease-out 1.5s, transform 2s linear 0s;
}